{% extends "TermostatoBundle::base.html.twig" %}
    {% block stylesheets %}
        {{ parent() }}
        <style>
            .chart {
                width: 100%;
                min-height: 500px;
            }
        </style>
    {% endblock %}
{% block body %}

    <h1>Temperature</h1>
    <div class="row">
        <div class="col-sm-12">
            <div id="chart_div" class="chart"></div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/loader.js') }}"></script>
    <script>
        $(document).ready(function () {

            var dataChartJSON = '{{(dataChart|json_encode|raw)}}';
            var dataChart = JSON.parse(dataChartJSON);

            google.charts.load('current', {packages: ['corechart']});
            google.charts.setOnLoadCallback(drawBasic);

            function drawBasic() {
                var data = new google.visualization.DataTable(dataChart);

                var options = {
                    title: 'Temperaure and Humedity of CPD',
                    hAxis: {title: 'Date & Time', titleTextStyle: {color: 'red'}}
                };

                var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));

                chart.draw(data, options);
            }

            $(window).resize(function () {
                drawBasic();
            });


            function getData() {
                $.ajax({
                    type: "GET",
                    url: "app_dev.php/getdata",
                    dataType: "json",
                    success: function (data) {
                        console.log("Get new data");
                        dataChart = data;
                        console.log(dataChart);
                        drawBasic();
                    },
                    error: function () {
                        console.log("Ajax Error");
                    }
                });
            }

            setInterval(function() {
                getData();
            }, 10000);

        });
    </script>
{% endblock %}